@function shade($color, $percentage) {
    @return mix(#000000, $color, $percentage);
}

@function tint($color, $percentage) {
    @return mix(#ffffff, $color, $percentage);
}

$background-color: #ffffff;
$body-color: #000000;

$border-color: #f5f5f5;

$brand-colors: (
    "facebook": #3b5998,
    "twitter": #55acee,
    "instagram": #405de6,
    "pinterest": #bd081c,
    "snapchat": #fffc00,
    "linkedin": #0077b5,
);

@function getBrandColor($brand) {
    @return map-get($brand-colors, $brand);
}

