body {
    width: 100%;
    max-width: 100vw;

    overflow-x: hidden;

    font-size: 1.6rem;
    line-height: 1.5;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
