@import "scaffolding/index.scss";
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:700');

body {
    @include font-base;
}

b,
strong {
    font-weight: 700;
}

p {
    max-width: 38em;
}

h1, h2, h3, h4, h5 {
    @include font-supplementary;

    margin: 0;

    font-size: 3rem;
}

a {
    color: currentColor;

    text-decoration: underline;

    cursor: pointer;
}

.link,
p a {
    position: relative;

    text-decoration: none;
    white-space: nowrap;

    &::before {
        content: "";

        position: absolute;
        left: 0; right: 0; bottom: .1em;

        border-bottom: 1px solid currentColor;

        transition: opacity $basic-ease;
        opacity: .15;
    }

    &:hover,
    &:focus {
        &::before {
            opacity: 1;
        }
    }
}

@mixin caption {
    width: 100%;

    margin: 0 auto;
    padding: .5em .5em 0;

    font-size: .75em;
    font-weight: 600;

    opacity: .65;
}
