@import "scaffolding/index";

.recipe-teaser {
    border: 1rem solid #ffffff;
    border-radius: $border-radius;

    box-shadow: $box-shadow;

    &__image {
        background-size: cover;
        background-position: center;

        border-radius: $border-radius;

        &::after {
            content: "";

            display: block;
            padding-top: 125%;
        }
    }

    &__content {
        margin-top: 1rem;
        padding: 0 $border-radius;
    }

    &__title {
        font-size: 1.8rem;
    }

    &__metadata {
        display: flex;
        flex-direction: row;

        justify-content: space-between;

        margin-top: 1rem;

        font-size: 1.4rem;
        font-weight: 700;

        opacity: .5;
    }
}
